NODE_ENV=development

PORT=5000

DATABASE_URL=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

ACCESS_TOKEN_EXPIRES_IN=4550m
REFRESH_TOKEN_DAYS=30

GOOGLE_CLIENT_IDS=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

CORS_ORIGIN=

MESSAGE_RETENTION_HOURS=24
MESSAGE_EDIT_MINUTES=5
MESSAGE_MAX_IMAGES=3

CRON_SECRET=


EMAIL_TRANSPORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=